In [14]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,classification_report,mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [4]:
train=pd.read_csv("D:/dataset/housing_train.csv")
train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,2.37934,0.0,19.58,0,0.871,6.130,100.0,1.4191,5,403,14.7,172.91,27.80,13.8
1,38.35180,0.0,18.10,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
2,0.22969,0.0,10.59,0,0.489,6.326,52.5,4.3549,4,277,18.6,394.87,10.97,24.4
3,12.80230,0.0,18.10,0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79,10.8
4,3.56868,0.0,18.10,0,0.580,6.437,75.0,2.8965,24,666,20.2,393.37,14.36,23.2

In [5]:
test=pd.read_csv("D:/dataset/housing_test.csv")
test.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,id
0,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,1
1,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,2
2,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,3
3,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,4
4,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,5

In [6]:
actual=pd.read_csv("D:/dataset/housing_actual.csv")
actual.head()

   id  medv
0   1  28.7
1   2  27.1
2   3  16.5
3   4  18.9
4   5  17.5

In [20]:
train=pd.DataFrame(train)
train_x=train.drop('medv',axis=1)
train_y=train['medv']

test_x=test.drop('id',axis=1)
test_y=actual['medv']

In [24]:
model=RandomForestRegressor(random_state=100,n_estimators=300)
model.fit(train_x,train_y)
pred=model.predict(test_x)

rmse=np.sqrt(mean_squared_error(test_y,pred))
r2=reg.score(test_x,test_y)

print(rmse)
print(r2)

2.936666335603466

0.7632598334566933