In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [6]:
train = pd.read_csv("D:/dataset/iris_train.csv")
test = pd.read_csv("D:/dataset/iris_test.csv")
actual=pd.read_csv("D:/dataset/iris_actual.csv")

In [9]:
train_x=train.drop('Species',axis=1)
train_y=train['Species']
test_x=test.drop('id',axis=1)
test_y=actual['Species']

model=KNeighborsClassifier(n_neighbors=5)
model.fit(train_x,train_y)
pred=model.predict(test_x)

print(accuracy_score(test_y,pred))

1.0

In [11]:
iris_pred=pd.DataFrame()
iris_pred['id']=test['id']
iris_pred['Species']=pred
iris_pred
#iris_pred.to_csv("/code/iris_prediction.csv")

     id     Species
0     3      setosa
1     8      setosa
2     9      setosa
3    17      setosa
4    18      setosa
5    29      setosa
6    32      setosa
7    36      setosa
8    38      setosa
9    53  versicolor
10   74  versicolor
11   77  versicolor
12   85  versicolor
13   86  versicolor
14   87  versicolor
15   89  versicolor
16   92  versicolor
17   99  versicolor
18  104   virginica
19  112   virginica
20  117   virginica
21  122   virginica
22  130   virginica
23  132   virginica
24  140   virginica
25  142   virginica
26  144   virginica